@model BackOfficeFoodService.Models.ListaModel

@{
    ViewData["Title"] = "Menu Lista";
    Layout = null;
}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-header">Criar Lista de Menu</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="titulo" class="control-label"></label>
                                    <input asp-for="titulo" class="form-control" />
                                    <span asp-validation-for="titulo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="descricao" class="control-label"></label>
                                    <input asp-for="descricao" class="form-control" />
                                    <span asp-validation-for="descricao" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="SelecaoDeProdutos">Selecione mutiplos produtos para a lista desejada</label>
                                    @Html.DropDownList("nome", (MultiSelectList)ViewBag.ProdutoList, new { @multiple = "multiple", @class="form-control"  })
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header" style="background-color: #ff6a00;">Bebidas : descrição: Bebidas quentes e ferias </h5>
                <div class="card-body">
                    </ul>
                </div>
            </div>
        </div>

