@*@using BackOfficeFoodService.Enum;
@{
    string text = (string)TempData["FlashMessage.Text"];

z    string cssClass = "success";
    if (!string.IsNullOrWhiteSpace(text))
    {
        cssClass = "success";
    }
}

@if (!string.IsNullOrWhiteSpace(text))
{
    if (cssClass == "success")
    {
        <div class="alert alert-success" role="alert">
            @text
        </div>
    }
    if (cssClass == "error")
    {
        <div class="alert alert-danger" role="alert">
            @text
        </div>
    }
    if (cssClass == "warning")
    {
        <div class="alert alert-warning" role="alert">
            @text
        </div>
    }*@

